body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 21px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
  border-radius: 5px;
  background: #fcfefe;
}
.weather-app {
  padding: 20px;
  border: 1px solid turquoise;
  border-radius: 5px;
}

h1 {
  color: turquoise;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

li {
  list-style: none;
  color: rgb(226, 178, 196);
}

li::first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}

.weather-temperature img {
  margin-right: 40px;
  width: 1000px auto;
}

.weather-temperature strong {
  color: turquoise;
  font-size: 40px;
  text-align: center;
}

.weather-temperature .units {
  font-size: -30px;
  text-align: center;
}

a {
  text-decoration: none;
}

.weather-temperature .active:hover {
  color: black;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 25px;
  color: rgb(226, 178, 196);
}

.weather-forecast-temperature-min {
  opacity: 0.3;
}
.weather-forecast-temperatures {
  font-size: 20px;
  color: black;
}

small {
  text-align: center;
  color: black;
  font-size: small;
  margin-top: 10px;
  margin-left: 150px;
}

.img-temp {
  width: 200px;
}

.main-tem-info {
  color: black;
}
.btn {
  color: turquoise;
  font-size: 23px;
}
